<mat-card [appearance]="'outlined'" class="post-viewer-card"
  [ngClass]="{ 'post-viewer-card__active': post?.id === selectedPostId }">
  <ng-container *ngIf="isLoading; else postContent">

    <div class="skeleton skeleton-image"></div>
    <div class="skeleton skeleton-text"></div>
    <div class="skeleton skeleton-text short"></div>

  </ng-container>

  <ng-template #postContent>
    <mat-card-content *ngIf="post && displayValue" class="post-viewer-card__content">
      <div class="post-viewer-card__image-wrapper" *ngIf="post?.imageUrl">
        <img *ngIf="post?.imageUrl" class="post-viewer-card__image" [src]="post.imageUrl" />
      </div>

      <div class="post-viewer-card__content" *ngIf="post.id === selectedPostId; else defaultContent"
        matTooltip="{{ displayValue + ': ' + displayText }}" matTooltipPosition="right"
        [attr.aria-label]="'card content ' + displayValue + ': ' + displayText">
        {{ displayText }}
      </div>

      <ng-template #defaultContent>
        <div matTooltip="{{ post.title }}" matTooltipPosition="right">
          {{ post.title }}
        </div>
      </ng-template>
    </mat-card-content>

    <div class="post-viewer-card__content_indicators" *ngIf="displayFields?.length">
      <span *ngFor="let field of displayFields" class="post-viewer-card__content_indicators_dot" [ngClass]="{
        'post-viewer-card__content_indicators_dot_active':
          post?.id === selectedPostId && field === displayValue
      }"></span>
    </div>
  </ng-template>
</mat-card>