<div class="post-viewer-wrapper">
  <div class="post-viewer-wrapper__header">
    <h1 class="post-viewer-wrapper__header__title">Posts Viewer</h1>
    <div class="post-viewer-wrapper__header__theme-toggle">
      <mat-icon class="post-viewer-wrapper__header__theme-toggle__icon">light_mode</mat-icon>
      <mat-slide-toggle
        [checked]="(theme$ | async) === 'dark'"
        (change)="onToggleTheme()"
        [attr.aria-label]="(theme$ | async) === 'dark' ? 'Switch to light mode' : 'Switch to dark mode'"
      ></mat-slide-toggle>
      <mat-icon class="post-viewer-wrapper__header__theme-toggle__icon">dark_mode</mat-icon>
    </div>
  </div>
  <div class="post-viewer-wrapper__info_section">
    <div class="post-viewer-wrapper__info_section__selected_post_id">
      {{
        (selectedPostId | async) !== 0
          ? "Current post id : " + (selectedPostId | async)
          : "View the content by clicking on each tile"
      }}
    </div>
    <button
      class="post-viewer-wrapper__info_section__reset_btn"
      [ngClass]="{
        'post-viewer-wrapper__info_section__reset_btn_disabled':
          (selectedPostId | async) === 0
      }"
      [attr.aria-label]="'post viewer reset button'"
      [disabled]="(selectedPostId | async) === 0"
      (click)="onResetClicked()"
    >
      Reset
    </button>
  </div>

  <div *ngIf="loading | async; else postsGrid">
  <app-post-viewer-card
    *ngFor="let i of [1,2,3,4,5,6,7,8]"
    [isLoading]="true"
  ></app-post-viewer-card>
</div>
<ng-template #postsGrid>
  <div
    *ngIf="displayKey | async as key"
    class="post-viewer-wrapper__card_container"
  >
    <app-post-viewer-card
      *ngFor="let post of postsList | async"
      class="post-viewer-wrapper__card"
      tabindex="0"
      role="button"
      [post]="post"
      [displayValue]="displayKey | async"
      [selectedPostId]="selectedPostId | async"
      (click)="onCardClicked(post.id)"
      (keydown.enter)="onCardClicked(post.id)"
    ></app-post-viewer-card>
  </div>
  </ng-template>
</div>
