@use "@angular/material" as mat;

:root {
  --bg-main: #0f172a;
  --bg-surface: #111827;
  --bg-card: #1f2937;

  --text-primary: #f9fafb;
  --text-secondary: #9ca3af;

  --accent: #7c3aed;
  --accent-soft: #c4b5fd;

  --border: rgba(255, 255, 255, 0.08);

  --hover-bg: rgba(255, 255, 255, 0.05);
}

@include mat.tooltip-overrides(
  (
    container-color: #111827,
    supporting-text-color: #f9fafb,
  )
);

body {
  margin: 0;
  background: var(--bg-main);
  color: var(--text-primary);
  font-family: Inter, system-ui, -apple-system, sans-serif;
}