@use "@angular/material" as mat;

:root {
  --color-primary: #ebebeb;
  --color-secondary: #1f513f;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-secondary-light: #2a5545;
  --color-disabled: #a6d4c0;
  --color-text: #212121;
  --color-background: #f0e6e2;
  --color-border: #1e1e1e;
  --color-active-card: #9f837b;

  @include mat.tooltip-overrides(
    (
      container-color: var(--color-black),
      supporting-text-color: var(--color-white),
    )
  );
}
